// variables
$pri-color: #202020;
$hover-color: rgb(165, 165, 165);
$white-color: #fff;
$boder-color: #ccc;
// flexbox
@mixin flexbox($jc: center, $al: center) {
    display: flex;
    justify-content: $jc;
    align-items: $al;
}
// css header section for this page
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    &__upper {
        width: 100%;
        background: transparent;
        input {
            border-bottom: none !important;
        }
        &:hover {
            background-color: $white-color;
            & input {
                border-bottom: 1px solid !important;
            }
        }
    }
    &__banner {
        display: none;
    }
}
//carousel section
.carousel__wrapper{
    width: 100%;
    .carousel-banner{
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .carousel-slider{
        .carouselBox {
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
// banner section
.banner__wrapper {
    width: 100%;
    padding: 5rem 0;
    border-bottom: 1px solid $boder-color;
    .banner {
        width: 90%;
        margin: 0 auto;
        @include flexbox();
        flex-direction: column;
        &__header {
            margin-bottom: 3rem;
            h2 {
                font-size: 1rem;
                font-weight: 400;
                letter-spacing: 0.5rem;
            }
            p {
                font-size: 1.2rem;
                font-weight: 300;
                letter-spacing: 0.1rem;
                margin-top: 2rem;
            }
            h2,
            p {
                display: block;
                text-align: center;
            }
        }
        &__info {
            @include flexbox(center, center);
            width: 100%;
            .infoBlock {
                border: 1px solid #f4f4f4;
                border-radius: 0.2rem;
                text-align: center;
                transition: all ease 0.3s;
                padding: 1.5rem 0;
                width: 30%;
                h3 {
                    margin: 1.5rem 0;
                    font-size: 0.9rem;
                    text-transform: uppercase;
                    letter-spacing: 0.3rem;
                }
                p {
                    font-family: "Tangerine", cursive;
                    font-size: 2rem;
                    font-weight: 400;
                }
                &:hover {
                    background-color: #000;
                    color: $white-color;
                }
                &:nth-child(2) {
                    margin: 0 3rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .carousel__wrapper{
        margin-top: 5.2rem;
    }
    .banner__wrapper {
        .banner {
            &__header {
                p {
                    display: none;
                }
            }
            &__info {
                flex-direction: column;
                .infoBlock {
                    width: 95%;
                    &:nth-child(2) {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}
