.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.signUp__wrapper {
  margin-top: 11.2rem;
}
.signUp__wrapper .signUp {
  width: 80rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.signUp__wrapper .signUp__content {
  padding: 1rem 0 3rem;
}
.signUp__wrapper .signUp__content-header {
  width: 100%;
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: #202020;
}
.signUp__wrapper .signUp__content-forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form input[type=number]::-webkit-inner-spin-button,
.signUp__wrapper .signUp__content-forms .signUp__content-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form label,
.signUp__wrapper .signUp__content-forms .signUp__content-form input,
.signUp__wrapper .signUp__content-forms .signUp__content-form span {
  display: block;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form label {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  color: #202020;
  margin: 1rem 0;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form label small {
  float: right;
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #d7d7d7;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form > input {
  height: 3.5rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form .warning {
  font-size: 1.2rem;
  color: #ff7d7d;
  display: none;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form .warning-active {
  display: block;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form select {
  width: 100%;
  height: 3.5rem;
  border: 1px solid #ccc;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form .radio-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form .radio-item input {
  margin-right: 2rem;
}
.signUp__wrapper .signUp__content-forms .signUp__content-form .radio-item span {
  font-size: 1.3rem;
  font-weight: 400;
  color: #202020;
}
.signUp__wrapper .signUp__content .createAccount-btn {
  margin-top: 3rem;
  padding: 1.5rem 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 0.3rem;
  color: #fff;
  transition: all ease 0.2s;
}
.signUp__wrapper .signUp__content .createAccount-btn:hover {
  background-color: #fff;
  color: #000;
}

@media only screen and (max-width: 550px) {
  .signUp__wrapper .signUp__content-forms {
    grid-template-columns: 1fr;
  }
  .signUp__wrapper .signUp .createAccount-btn {
    width: 100%;
  }
}

/*# sourceMappingURL=signUp.css.map */
